@font-face {
    font-family: 'big_johnregular';
    src: url('../font/bigjohn-webfont.woff2') format('woff2'),
         url('../font/bigjohn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'slim_joeregular';
    src: url('../font/slimjoe-webfont.woff2') format('woff2'),
         url('../font/slimjoe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header { 
 display: block;
    height: 650px;
    background: url(../img/header-bg.jpg);
    position: relative;
    min-width: 1040px;
 color: white;}
    
.header a {
     color:white;
     padding: 0 20px; 
}
.header a::after {
    content: '/';
     color:white;
     padding-left: 30px;
     text-align: center;
     }

.header_menu-item:last-child ::after {
          content: ' ';
  }

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3c4955;
    opacity: .85;
}
.header_inner {
    position: relative;
    z-index: 1;
    width: 1040px;
    margin: auto;
    padding: 36px 0;
}
.header_navigation {
    display: flex;
    align-items: center;
     justify-content: space-between;
}

.header_menu {    
    color: white;
    font: 16px/1 'Lato', sans-serif;
    font-weight: bold;   
}

.header_lihk {
    color: white;
    text-decoration: none;
}

.header_name_1 {
       font-family: 'big_johnregular' ;
       font-weight: bold;
    font-size: 46px;
    padding-top: 200px;
      text-align: center;  
}
.header_name_2 {
    font-family: 'slim_joeregular';  
    font-size: 30px;
  padding-top: 10px;
    padding-bottom: 50px;
     text-align: center;  
}
.button {
    font-size: 18px;
    color: #00C06E ;
border: 2px solid currentColor ;  
padding: 10px;
width: 150px;
font-family: 'Lato', sans-serif;
font-weight: bold;
text-align: center;
margin: 0 auto;
}

